// сброс стилей кнопки
@mixin reset-btn {
    background-color: transparent;
    border: none;
}

// центрирование через flex
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}